.Home{
    height : 100%;
    padding : 2em;
}

.welcome_ment{
    font-family : 'DungGeunMo';
    font-size : 50px;
    color : white;
}
.carousel_thumbnail_wraper{
    display : inline-block;
}
.carousel_thumbnail{
    height : 400px;
}

.ScoreBoard {
    border-bottom: 4px solid white ;
    padding-bottom: 12px;
}