.Game2{
    overflow-x : hidden;
    height : 100%;
}
.camera_box{
    display : inline-block;
    width : 700px;
    height : 700px;
    background-color : white;
    margin : 0 0 0 40px;
}
.timing_box{
    display : inline-block;
    position : relative;
    top : -200px;
    width : 300px;
    height : 200px;
    background-color : white;
    opacity : 0.5;
}
/* .game_start{
    position : absolute;
    top : 100px;
    left : 200px;
} */


.pictogram{
    height : 200px;
}
.pictogram_wraper{
    display : inline-block;
    position : relative;
}

.dance_info_bar{
    position : relative;
    z-index : 10;
    height : 200px;
    white-space: nowrap;
}

.pictogramAnimation{
    left : 960px;
    animation-name: animation2;
    animation-duration: 37s;
    animation-timing-function :linear;
}

@keyframes animation2 {
    0%   {left: 960px}
    100% {left: -18300px}
}

.neonText {
    position : relative;
    
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
      0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  }

.score{
    width : 200px;
    text-align : center;
    margin : 0px auto;
    font-size : 60px;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
      0 0 50px #0fa, 0 0 60px #0fa;
    opacity : 0.0;
}

.popAnimation{
    animation-name: example;
    animation-duration: .5s;
    animation-timing-function : ease-in;
}

@keyframes example {
    0%   {top : 50px; opacity : 1.0}
    100% { top : 0px; opacity : 1.0}
}

.webcam{
    box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 14px #fff, 0 0 30px #0fa, 0 0 50px #0fa;
}

#video{
    object-fit:contain;
    box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 14px #fff, 0 0 30px #0fa, 0 0 50px #0fa;
}